 .u-section-1 {
  background-image: url("https://pixabay.com/get/g4b52f7c6f1f86bdfa8fe911c4894b37901b3325af2bda347f3268a684f5e6ee8ab0ec4b304d729ecc3068b8dad38873578ebd592cbb3147887159e1a0c889f43_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 530px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 20px;
}

.u-section-1 .u-video-1 {
  min-height: 449px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 449px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 449px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px 16px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 1px;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 0px;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 0px;
  margin: -50px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 631px;
  }

  .u-section-1 .u-group-1 {
    min-height: 631px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 631px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 24px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 14px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 754px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1204px;
  margin: 34px -32px 55px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 665px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 9px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 19px 214px 0 28px;
}

.u-section-2 .u-text-2 {
  line-height: 1.6;
  background-image: none;
  font-size: 1rem;
  margin: 0 28px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 665px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 665px;
  grid-gap: 0px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/810_1223_Fotor.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/810_1213_Fotor.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/810_1115_Fotor.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  background-image: url("images/810_1312_Fotor.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 951px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 110px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1132px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1132px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1132px;
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1698px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -104px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1803px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 829px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1069px;
  }
} .u-section-3 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 500px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 26px 0;
}

.u-section-3 .u-text-1 {
  margin: 23px auto 0 19px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 44px 19px 0;
}

.u-section-3 .u-image-1 {
  min-height: 500px;
  background-image: url("images/810_1355_Fotor.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 23px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 544px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 454px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1045px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 474px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 717px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-left: 108px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 436px;
  }

  .u-section-3 .u-image-1 {
    min-height: 298px;
  }
} .u-section-4 {
  min-height: 406px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 406px;
  background-image: url("images/810_1340_Fotor.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 406px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-text-2 {
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 491px;
  }

  .u-section-4 .u-image-1 {
    min-height: 335px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 335px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 399px;
  }

  .u-section-4 .u-image-1 {
    min-height: 257px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1006px;
  }

  .u-section-4 .u-image-1 {
    min-height: 386px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 668px;
  }

  .u-section-4 .u-image-1 {
    min-height: 243px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 439px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/trees-g7a4bd8a93_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 622px;
}

.u-section-5 .u-text-1 {
  margin: 116px auto 0 81px;
}

.u-section-5 .u-text-2 {
  margin: 36px 243px 60px 71px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 114px;
    width: 826px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 624px;
}

.u-section-6 .u-text-1 {
  width: 769px;
  margin: 44px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 44px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-6 .u-text-2 {
  margin: 0;
}

.u-section-6 .u-text-3 {
  margin: 66px 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 400px;
  background-image: url("images/810_1300_Fotor.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-6 .u-image-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-6 .u-image-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 380px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-6 .u-image-1 {
    min-height: 239px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 118px;
}

.u-section-7 .u-btn-1 {
  margin: 37px auto;
}